html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.reloc1{
    width: 100%;
    height: 20px;
}

.blackBoxTitle {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainLogo {
    width: 60vh;
    height: 60vh;
}

.titleCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    color: white;
}

.title {
    font-family: Inter;
    color: white;
    font-size: 5.6rem;
    font-weight: bold;
    margin: 0px;

}

.description {
    font-family: Inter;
    color: white;
    width: 50rem;
    text-align: right;
    font-size: 1.1rem;

}

.price {
    margin: 0;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 500;
}

.upTo {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    font-family: Inter;
    font-weight: 500;
}

.timerClaimButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.claim {
    color: #862282;
    text-decoration: none;
    padding: 1rem 2.5rem 1rem 2.5rem;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    font-family: Inter;
    font-weight: bold;
    transition: 0.3s
}


.claim:hover {

    color: white;
    background-color: #862282;
}

.pesos {
    font-size: 0.1;
}

.cardsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 90px;
}

.cardCont {
    height: 460px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.oddCard {
    height: 80%;
    width: 310px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #171717;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.4s;
}

.oddCard:hover {
    scale: 103%;
    transition-duration: 0.4s;
}

.oddCard:hover .oddButt {
    animation: myfirst 0.4s;
    animation-fill-mode: forwards;
}

.oddCard .oddButt {
    animation: moveBack 0.4s;
    animation-fill-mode: forwards;
}

.oddCard:hover .oddServiceTitle {
    opacity: 0;
    /* Make it fully visible */
    transition: opacity 0.2s;
}

.oddCard:hover .oddServiceDetails {
    opacity: 0;
    /* Make it fully visible */
    transition: opacity 0.2s;
}

.oddCard:hover .oddServicePrice {
    opacity: 0;
    /* Make it fully visible */
    transition: opacity 0.2s;
}

.oddCard {
    position: relative;
}

.oddImg1,
.oddImg2,
.oddImg3,
.oddImg4,
.oddImg5,
.text1,
.text2,
.text3,
.text4 {
    position: absolute;
}

.oddImg1 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    right: 15rem;
    top: 6rem;
    width: auto;
    height: 1.1rem;
}

.text1 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    font-family: IBM Plex Sans;
    font-size: 1.1rem;
    color: white;
    margin: 0;
    width: 15rem;
    top: 5.8rem;
    left: 5rem;

}

.oddImg2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    right: 15rem;
    top: 8.8rem;
    width: auto;
    height: 1.1rem;
}

.text2 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    font-family: IBM Plex Sans;
    font-size: 1.1rem;
    color: white;
    margin: 0;
    width: 15rem;
    top: 8.7rem;
    left: 5rem;
}



.oddImg3 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    right: 15rem;
    top: 11.8rem;
    width: auto;
    height: 1.1rem;
}

.text3 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    font-family: IBM Plex Sans;
    font-size: 1.1rem;
    color: white;
    margin: 0;
    width: 15rem;
    top: 11.7rem;
    left: 5rem;
}

.oddImg4 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    right: 15rem;
    top: 14.6rem;
    width: auto;
    height: 1.1rem;
}

.text4 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    font-family: IBM Plex Sans;
    font-size: 1.1rem;
    color: white;
    margin: 0;
    width: 15rem;
    top: 14.7rem;
    left: 5rem;
}

.oddImg5 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    right: 15rem;
    top: 14.8rem;
    width: auto;
    height: 1.1rem;
}


.oddCard:hover .text1,
.oddCard:hover .text2,
.oddCard:hover .text3,
.oddCard:hover .text4,
.oddCard:hover img {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}



.oddServiceTitle {
    font-family: Inter;
    font-weight: bold;
    font-size: 2.0rem;
    color: white;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    text-align: center;
    /* Apply transition effect on opacity */
}

.oddServiceDetails {
    margin: 0;
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-size: 1.1rem;
    flex-grow: 1;
    color: white;
    text-align: center;
    width: 80%;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
    /* Apply transition effect on opacity */
}

.oddServicePrice {
    font-family: DM Serif Display;
    font-size: 2.2rem;
    font-weight: 500;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
}

.oddSwitch {
    height: 50px;
    width: 80%;
    border-radius: 500px;
    background-color: white;
}

.oddButt {
    height: 50px;
    width: 50px;
    background-color: #862282;
    border-radius: 50%;
    position: relative;
}


@keyframes myfirst {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 50px);
    }
}

@keyframes moveBack {
    0% {
        left: calc(100% - 50px);
    }

    100% {
        left: 0;
    }
}

.servicesBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.serviceList {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.serviceCount {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.serviceTitle,
.serviceNum,
.serviceText {
    font-family: Inter;
    font-weight: bold;
}

.serviceTitleCont {
    display: flex;
    justify-content: end;
    width: 48%;
}

.serviceTitle {
    font-size: 4.2rem;
    margin: 0px;
}

.serviceNum {
    font-size: 3rem;
    margin: 0px;
    margin-right: 20px;
}

.serviceTextCont {
    width: 70%;
}

.serviceLine {
    margin-top: 2px;
    margin-bottom: 2px;
}

.serviceText {
    font-size: 1.5rem;
    margin: 0px;
    color: #862282;
}



.protagonistBox {
    width: 100%;
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.protagonistRowCont {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.protagImage {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.protagonistCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digitalBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.digitalImg {
    width: auto;
    height: 22rem;
}

.digitalTitle {
    color: black;
    font-family: Inter;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.checkTextCont {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.textSeparator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.digitalPhone {
    position: absolute;
    left: 3%;
    width: auto;
    height: 10rem;
}

.digitalForm {
    position: absolute;
    right: 3%;
    width: auto;
    height: 14rem;
}

.digitalTextCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.digitalText {
    width: 700px;
    font-family: inter;
}

.anyProgram {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.imageLogo {
    scale: 70%;
}

.imageLogoCont {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: white;
}

.navbar {
    text-decoration: none;
    background: white;
    font-family: Inter;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-weight: bold;
    margin-right: 25px;
}

.navLogoImg {
    width: auto;
    height: 1.1rem;
}

.logoCont {
    text-decoration: none;
}

.logoTxt {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Inter;
}

.countdown {
    font-size: 24px;
    color: white;
    font-family: inter;

}

.footerCont {
    background-color: white;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 417.42px;
}

.footerImgCont {
    height: 80%;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 5rem;
}

.footerImg {
    width: auto;
    height: 7rem;
}

.footerContact {
    font-family: IBM Plex Sans;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.footerContactInfo {
    margin: 0;
    text-align: left;
    width: 55%;
    font-family: IBM Plex Sans;
    font-size: 1rem;
}

.footerContactCopyright {
    margin-top: 2rem;
    text-align: left;
    width: 55%;
    font-family: IBM Plex Sans;
    font-size: 1rem;
}